@media screen and (min-width: 800px) {
    .tempo {
        height: 590px;
    }
}

@media screen and (min-width: 1400px) {
    .tempo {
        height: 700px;
    }
}

@media screen and (max-width: 800px) {
    .tempo {
        height: 100%;
    }
}


.who-image {
    margin-top: 10px;
    height: 230px;
    width: 250px;
}

.who-section {
    background-color: #b3fefc;
}

.axie-image {
    height: 80px;
    width: 80px;
}

.content-row {
    margin-top: 40px;
}

.what-detail-column {
    border: 3px solid black;
    border-radius: 10px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.3);
}

.what-list {
    padding: 0;
    list-style-type: none;
}

.what-section {
    background-color: gainsboro;
}


.do-section {
    background-color: darkolivegreen;
    width: 100%;
    height: 50%;
}

.our-gaming-guild-section {
    background-color: pink;
}

.builders-section {
    background-color: yellow;
}

.tempo {
    width: 100%;
}

.first_section {
    margin-top: 40px;
}